<!DOCTYPE html>
<html>
<head>
	<title>Campus option</title>
	<link rel="stylesheet" type="text/css" href="/style/campusoption.css">
</head>
<body>
<!-- 
<div class="container">
	<section class="blue-section">
		<h1>Welcome to Dashboard</h1>
		<h3>Select a campus</h3>
	</section>

	<ul class="plans">
		<li class="plan highlight">
		
			<div class="details">
				<h1 class="plan-title">Mantri Residency</h1>
				<p class="plan-description">Near meenakshi Temple Banglore</p>
			</div>
			
			<button class="btn select">Select plan</button>
		</li>
		<br>
		
		<li class="plan">
			
			<div class="details">
				<h1 class="plan-title">SMR Vinay Galaxy</h1>
				<p class="plan-description">Hoodi circle Banglore</p>
			</div>
			
			<button class="btn select">Select plan</button>
		</li>
	</ul>
	
</div> -->

<br>

<thead>
	<tr>
		<td>Campuses</td>
		<td>Visitors</td>
		<td>Staff</td>
		<td>Users</td>
		<td>Users that dnt say Alliswell</td>
	</tr>
</thead>
</body>
</html>
