<!DOCTYPE html>
<html>
<head>
  <title>Admin login</title>
  <link rel="stylesheet" type="text/css" href="./style/style.css">
</head>
<body>
<div class="login-page">
  <div class="form">
    <!--
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
   -->
   <p><h1>Dashboard login</h1></p>
    <form action="/login" class="login-form" method="post">
      <input type="text" placeholder="email" name="username" />
      <input type="password" placeholder="password" name="password"/>
      <button type="submit">login</button>
     <!--  <p class="message">Not registered? <a href="#">Create an account</a></p> -->
    </form>
  </div>
</div>
</body>
</html>